body{
    background-color: #f4e8f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


#main_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: solid 1px #dec9e2;
    height: 8245px;
    width: 1024px;
}


#navlist_g {
    background-color: #dec9e2;
    width: 100%;
    height: 115px;
    gap: 120px;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
    color: #765d7c;
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

#stars {
    width: 1024px;
    height: 700px;
    margin-top: -90px;
    position: absolute;

}


#whitebox {
    width: 100%;
    height: 645px;
    margin-top: -3px;
    background-color: #f5f2f9;
}

#header-logo {
    height: 610px;
    width: 100%;
    background-color: #f4e8f9;
    
}

#starsandlogo {
    margin-top: 85px;
    margin-left: 70px;
    scale: 1.15;
}

#knowledge {
    height: 680px;
    width: 100%;
    background-color: #f8f7f9;
}

#classes {
    position: relative;
    scale: 3;
    margin-left: 355px;
    margin-top: 150px
}

#aqkn {
    margin-top: 85px;
    margin-left: 190px;
    scale: 1.05;
}

.divider {
    height: 85px;
    width: 100%;
}

#music-about {
    height: 1205px;
    width: 100%;
    background-color:#ede7f7;

}

#music-title {
    margin-top: 80px;
    margin-left: 310px;
    scale: 1.2;
}

#griffin {
    scale: 2.6;
    margin-left: 265px;
    margin-top: 160px;
}



#music-i-like {
    height: 1030px;
    width: 100%;
    background-color: #d6e3f2;
}

#Wall-op {
    height: 3075px;
    width: 100%;
    background-color: #f8f7f9;
}

#hobbies-art {
    height: 1230px;
    width: 100%;
    background-color: #d6e3f2;
}

